<!DOCTYPE html>
<html>
<head>
	<% include ../partial/head %>
</head>
<body>
	<input type="text" name="email">
	<input type="text" name="password">
	<input class="btn btn-primary" type="submit" name="login">
</body>
</html>
