</section>
<!-- contact section --> 
<!-- Footer section -->
<footer class="footer">
<div class="container-fluid">
<div id="map-row" class="row"> 
          <div id="map-overlay" class="col-sm-6" style="">
    		<h2 style="margin-top:0;color:#fff;">Contact us</h2>
    		<address style="color:#fff;">
    			<strong>DC Automobile</strong><br>
    			Near Indian Petrol Pump<br>
    			Rajnagar Extension,GZB<br>
    			Uttar Pradesh,INDIA<br>
    			201001<br>
    			<abbr title="Phone">Tel:</abbr> 9810712879
    		</address>
			  © 2012 DC Automobile <a href="http://webthemez.com/free-html5-templates/" title="HTML Templates" target="_blank"></a> <br/>
			   <a href="http://webthemez.com/free-bootstrap-templates" title="Bootstrap Templates" target="_blank"> </a>
    	</div>
    <div class="col-sm-6">    
    	<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d149.06311945500784!2d77.42617181062712!3d28.696551661108057!2m2!1f0!2f39.420407018942605!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x390cf1a7c4b81089%3A0xad94b06985c4d0a2!2sDc+Auto+Mobile!5e1!3m2!1sen!2sin!4v1549966133233" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    	
      
    </div>
	 </div>
</div>
</footer>
<!-- Footer section --> 
<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery.flexslider-min.js"></script> 
<script src="/js/jquery.fancybox.pack.js"></script> 
<script src="/js/retina.min.js"></script> 
<script src="/js/modernizr.js"></script> 
<script src="/js/main.js"></script> 
<script type="text/javascript" src="/js/jquery.contact.js"></script>